<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="item">
        <a class="link" target="_blank" href="{{ITEM_HREF}}" rel="nofollow">
            <i class="autoleft fa fa-angle-right" title="{{ITEM_NAME}}"></i>
        </a>
        <a class="a" href="{{ITEM_HREF}}" title="{{ITEM_NAME}}" target="_blank">
            <img src="{{ITEM_IMG_SRC}}" alt="{{ITEM_NAME}}" title="{{ITEM_NAME}}">
            <h3>{{ITEM_NAME}}</h3>
<!--            <p>{{ITEM_DESC}}</p>-->
        </a>
    </div>
</div>